*{
    box-sizing: border-box;
}


#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
}

.loading-message img{
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
}